Package: com.ryannair05.switcherx
Name: SwitcherX
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: iPhone X swiping, for iPads!
Maintainer: Ryan Nair
Author: Ryan Nair
Section: Tweaks
